/* 전체페이지 */
.page{
    display: flex;
    width: 1280px;
    max-width: 1280px;
    height: fit-content;
    margin: 0px auto;
    flex-direction: column;
}

/* 윗 부분 */
.uppage{
    display: flex;
    width: 100%;
    height: 50%;
}
/* 윗 부분 */

/* 위->왼쪽부분 */
.upleft{
    width: 40%;
    padding: 10px;
    background-color: #F2EFEB;
}
/* 위->왼쪽부분 */
.left{
    padding:15px
}

/* 위->오른쪽부분 */
.upright{
    display: flex;
    width: 60%;
    padding: 40px;
    flex-direction: column;
}
/* 위->오른쪽부분 */



.boldweight{
    font-weight: bolder;
}
.image{
    width: 100%;
}
.price{
    display: flex;
    align-items: flex-end;
}
.smallsize{
    font-size: 10px;
}
.titlesize{
    font-size: 23px;
    font-weight: bolder;
}
.fontstyle{
    padding: 15px 0px;
    font-size: 18px;
}