* {
  box-sizing: border-box;
}
/* 전체페이지 */
.page {
  display: flex;
  max-width: 1280px;
  height: fit-content;
  margin: 0px auto;
  flex-direction: column;
}

/* 윗 부분 */
.uppage {
  display: flex;
  width: 100%;
  height: 50%;
}
/* 윗 부분 */

/* 위->왼쪽부분 */
.upleft {
  width: 40%;
  color: white;
  background-color: black;
  padding: 10px 40px 30px 40px;
}
/* 위->왼쪽부분 */

/* 위->오른쪽부분 */
.upright {
  display: flex;
  width: 60%;
  flex-direction: column;
}
/* 위->오른쪽부분 */

/* 위->오른쪽의 윗부분 */
.uprightup {
  color: black;
  height: 55%;
  background-color: #f2efeb;
  padding: 50px 40px 0px 40px;
}
/* 위->오른쪽의 윗부분 */

/* 위->오른쪽의 아래부분 */
.uprightdown {
  height: 45%;
  color: black;
  background-color: #d9d0c7;
  padding: 10px 40px;
}
/* 위->오른쪽의 아래부분 */

/* 각 div flex */
.box {
  margin: 18px 0px;
  display: flex;
  justify-content: space-between;
}
.box2 {
  display: flex;
  justify-content: space-between;
}
/* 각 div flex -> box2는 margin조절*/

/* 폰트 스타일 */
.smallsize {
  font-size: 13px;
}
.normalsize {
  font-size: 15px;
}
.titlesize {
  font-size: 27px;
  font-weight: bolder;
}
.boldweight {
  font-weight: bolder;
}
.menuname {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  margin: 5px;
}
/* 폰트 스타일 */

/* won위치 */
.price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.price2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* won위치 */

/* + 위치 */
.plus {
  margin: 0px 33px;
  display: flex;
  align-items: center;
}
/* + 위치 */

/* 메뉴 사진 */
.menuimg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.menuimg2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
/* 메뉴 사진 */

/* 삼겹살 세트 사진*/
.sam {
  width: 100%;
  display: flex;
}
.samset {
  position: relative;
  display: flex;
}
.soupimg1 {
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  z-index: 3;
}
.soupimg2 {
  left: 80px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  z-index: 2;
}
.soupimg3 {
  left: 150px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
/* 삼겹살 세트 사진*/

/* 제육볶음 세트 */
.boxleft {
  width: 60%;
}

.firstDong {
  align-items: center;
  display: flex;
}
.boxright {
  width: 40%;
}
.spicyimg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.spicyoverflow {
  height: 256px;
  overflow: hidden;
}
.spicyset {
  position: relative;
  display: flex;
}
.soupimg4 {
  left: 50px;
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  z-index: 3;
}
.soupimg5 {
  top: 90px;
  left: 50px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  z-index: 2;
}
.soupimg6 {
  top: 180px;
  left: 50px;
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
/* 제육볶음 세트 */

/* 냉면세트 */
.noodleimg1 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}
.noodleimg2 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}
.or {
  margin: 0px 10px;
  display: flex;
  align-items: center;
}
.speci {
  display: flex;
  justify-content: flex-end;
}
/* 냉면세트 */

/* 아래페이지 */
.bottompage {
  display: flex;
  width: 100%;
  height: 50%;
}
.bottomleft {
  width: 50%;
  background-color: #f2efeb;
  padding: 50px 40px;
}
.bottomright {
  width: 50%;
  background-color: #f2efeb;
  padding: 150px 40px 40px 40px;
}
/* 아래페이지 */

/* 아래페이지 - 점심메뉴 시간 부분 */
.timebox {
  color: white;
  background-color: black;
  width: fit-content;
  padding: 10px 40px;
}
/* 아래페이지 - 점심메뉴 시간 부분 */

/* 동태찌개 이름과 가격 위치 조절 */
.boxflex {
  margin-left: 50px;
  align-items: center;
}
/* 동태찌개 이름과 가격 위치 조절 */

.boxjump {
  margin-top: 10px;
}

/* 아래페이지-분식류 */
.menucontainer {
  display: flex;
  justify-content: space-between;
}
.menubox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.menu {
  margin-right: 40px;
}
/* 아래페이지-분식류 */

@media screen and (max-width: 1180px) {
  .uppage {
    display: block;
  }
  .upleft,
  .upright {
    width: 100%;
  }
  .bottompage {
    display: block;
  }
  .bottomleft,
  .bottomright {
    width: 100%;
  }
  .menuimg {
    width: 80px;
    height: 80px;
  }
  .sam {
    .plus {
      margin: 10px;
    }
    img {
      width: 80px;
      height: 80px;
    }
  }
  .soupimg2 {
    left: 50px;
  }
  .soupimg3 {
    left: 100px;
  }

  .smallsize {
    font-size: 10px;
  }
  .normalsize {
    font-size: 11px;
  }
  .titlesize {
    font-size: 20px;
  }

  .spicyimg {
    width: 200px;
    height: 200px;
  }
  .spicyset {
    img {
      width: 80px;
      height: 80px;
    }
  }
  /* .soupimg4 {
    left: 50px;
  }
  .soupimg5 {
    left: 100px;
  }
  .soupimg6 {
    left: 100px;
  } */
}
